<% album = @albums.first() %>
<h1><%=album.title%></h1>
<p>by <%=album.artist.name%></p>

<div class="contianer">
	<div class="row">
		<div class="album-image col s12 m6">
			<img src=<%=album.cover_image%>>
		</div>
		<div class="songs col s12 m6">
			<%=album.songs.each do |song|%>
				<p>Track No.<%=song.track%>: <%=song.title%></p>
			<%end%>
		</div>
	</div>
</div>

