<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @imdb.title %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @imdb.actor_id %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @imdb.genre_id %>
</p>

<%= link_to 'Edit', edit_imdb_path(@imdb) %> |
<%= link_to 'Back', imdbs_path %>
