<!DOCTYPE html>
<html>
	<head>
		<title>MusicDb</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<nav>
			<div class="nav-wrapper">
				<a class="brand-logo">Music DB</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><%=link_to "Artist", artists_url%></a></li>
					<li><%=link_to "Album", welcome_url%></li>
					<li><%=link_to "Song", songs_url%></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><%=link_to "Artist", artists_url%></a></li>
					<li><%=link_to "Album", welcome_url%></li>
					<li><%=link_to "Song", songs_url%></li>
				</ul>
			</div>
		</nav>

	<%= yield %>



		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<p class="grey-text text-lighten-4">A nice little music DB, built from scratch..</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<div class="right">
						© 2016 Copyright Lin Y.
					</div>
				</div>
			</div>
		</footer>

	</body>
</html>
