<h2><%= @user.name %>'s Profile</h2>

<p>
	Birthday: <%= @user.birthday%>
</p>


<% @user.blog_posts.each do |blog_post| %>
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<b><%= link_to blog_post.title, blog_post%></b>
			</div>
			<div class="panel-body">
				<p><span class="posted-at"><%=blog_post.created_at.strftime('%m/%d/%Y at %l:%M%p')%></p>
				<p><%=blog_post.blog_entry[0..150]%>...[<%=link_to "READ MORE", blog_post%>]</p>
			</div>
		</div>
	</div>
<%end%>